@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --mainTextColor-light: #000;
    --secondaryTextColor-light: (51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: (218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: #adb0b1;
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}

*{
    font-family: 'Poppins';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
   padding-top: 1em;
   padding-bottom: 1em; 
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 3em;
    line-height: 1em;
}

#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 80%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#email{
    color:var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-size: 1em;
    color: var(--secondaryTextColor);
}

#socials--list a:hover{
    color: var(--mainLinkColor)
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border:1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBgColor-dark);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor-dark);
}

.card--project a{
    color:var(--mainTextColor);
    transition: .3s;
}

.card--project a:hover{
    color: var(--mainLinkColor);
}

@media(max-width:600px) {
    #wrapper-hero{
        flex-direction: column;
    }
}